<div class="grid-container">
  <div class="row">
    <div class="nav">
      <div class="header-links">
        <div class="nav_left">
          <%= link_to root_url do %>
            <%= image_tag "twopeacelogo.jpg", :id => 'twopeacelogo' %>
          <% end %>
        </div>
        <div class="nav_right">
          <%= link_to "HOME", root_path %>
          <%= link_to "OUR TEAM", our_team_path %>
          <%= link_to "OUR WORK", our_work_path %>
          <%= link_to "CONTACT US", new_contact_path %>
        </div>  
      </div>  
    </div>  
  </div>  
</div>  

<div class="mobile_nav">
  <nav role='navigation'>
      <a href="#" id="toggle" class="title">=TWOPEACE=</a>
    <ul>
      <li class="mobile_links"><%= link_to "HOME", root_path %></li>
      <li class="mobile_links"><%= link_to "OUR TEAM", our_team_path %></li>
      <li class="mobile_links"><%= link_to "OUR WORK", our_work_path %></li>
      <li class="mobile_links"><%= link_to "CONTACT US", new_contact_path %></li>
    </ul>
  </nav>
</div>

<script>
  $('nav a#toggle').click(function() {
  $('ul').slideToggle(200, function() {
    // Animation complete.
  });
});
</script>